@keyframes myAnimation {
  0% {
    height: 228px;
  }
  100% {
    height: 70px;
  }
}
img {
  -webkit-user-drag: none;
}
.krnkn {
}
@media print {
  body * {
    visibility: hidden;
  }
 

  .print,
  .print * {
    visibility: visible;
  
  }
}
li:hover {
  background-color: lightgray;
}
@media (-moz-touch-enabled: 1), (pointer: coarse) {
  li:hover {
    background-color: #f2f2f2;
  }
}
@keyframes vridUpp {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 90deg;
  }
}
@keyframes vridNer {
  from {
    rotate: 90deg;
  }
  to {
    rotate: 0deg;
  }
}
.dropdown-item {
  font-weight: bold;
}
