.App {
  text-align: center;
}

.spara {
  background-image: url(./floppydisk.svg);
  height: 50px;
  width: 50px;
  background-color: white;
  background-position: center;
  background-size: contain;
  border-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
}

.box.filled {
  background-color: gray;
  height: 50%;
}

.box.filled span {
  left: 0%;
  bottom: -100%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: black;
  position: absolute;
  white-space: nowrap;
}

.namnFält {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 5px;
}

.gridInstallning {
  display: flex;
  padding: 10px;

}

#namesInput {
  margin-top: 10px;
}

#namnSingel {
  margin-bottom: 30px;
  padding: 5px;
}

#kebaben {
  width: 400px;
  margin: auto;
  padding-bottom: 40px;
}

#namesInput {
  margin-bottom: 30px;
}

.small-text {
  font-size: 75%;
}


li button {
  width: 100px;
}

#nameHeader {
  font-weight: bold;
}

#mailTag {
  color: black;
}

#uppe {
  border-bottom: solid;
  font-size: 20px;
  width: 50px;
  margin: auto;
  margin-bottom: 20px;
}

#nere {
  border-top: solid;
  font-size: 20px;
}

#sparaSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 202.25px;
  position: relative;
  left: calc(50% - 101.125px);
}

#sparaKnapp {
  margin-bottom: 10px;
  /* lägg till lite mellanrum under knappen */
}

#sparadeKlasser {
  padding: 5px;
  font-size: large;
}

#gridMedAnnat {
  margin-top: 30px;
}

button, #redigeringsKnapp, #pdfKnapp, #ökaStorlek, #minskaStorlek, #raderaKlass, #sparaSomNy, #sparaNamnSomNy, #raderaNamnKlass, .papperskorg, #sparaNamnKnapp {
  color: white;
  background-color: rgb(56, 180, 56);
  border-style: none;
  border-color: rgb(173, 169, 169);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 130px;
  cursor: pointer;
}
#ökaStorlek, #minskaStorlek{
  margin-top: 0px;
}
@keyframes allaKnappar {
  from {
    background-color: rgb(56, 180, 56);
  }

  to {
    background-color: green;
  }
}
@keyframes redAn {
  from {
    background-color: red;
  }

  to {
    background-color: rgba(237, 0, 0, 0.87);
  }
}
@keyframes låsKnapp {
  from {
    background-color: none;
    svg {
      color: black;
      height: 30px;
      width: auto;
    }
  }

  to {
    background-color: black;
    svg {
      color: white;
      height: 30px;
      width: auto;
    }
  }
}



#slumpaKnappen {
  background-image: url(./random.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  height: 50px;
  cursor: pointer;
}
#slumpaDiv {
  width: 150px;
  margin: auto;
}

#slumpaLabel {
  cursor: pointer;
}

#perspektiv {
  background-image: url(perspektiv.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}

#meny {
  margin: auto;
  width: 50%;
}

.menySaker {
  display: inline-block;
  text-align: center;
}
.menySaker label {
  display: block;
}
#redigeringsKnapp {
  background-image: url(edit.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}

#pdfKnapp {
  background-image: url(print.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
}

#pdfInfo{
  font-weight: bold;
}

#pdfKnapp:disabled{
  background-color: gray;
  color: cyan;
}

#pdfKnapp:disabled:hover{
  animation-name: none;
}

.box.filled.vit {
  background-color: white;
}

.box.filled.svart {
  background-color: black;
}
.box.filled.svart span {
  color: white;
}

.grid-container.schackBräde {
  background-repeat: no-repeat;
  background-position: center;
}

.box.svart {
  background-color: black;
}
.box.vit {
  background-color: white;
}

@media print {
  body * {
    visibility: hidden; /* Gömmer allt förutom det specifika innehållet du vill skriva ut */
  }
  #gridPdfSak * {
    visibility: visible; /* Gör #gridPdfSak och dess barn synliga */
  }
  #kebabWrap * {
    visibility: hidden;
  }
  .box.filled {
    visibility: visible !important;
  }
  #gridPdfSak {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0%);
    width: 100%;
    max-width: 210mm; /* Justera detta beroende på dina marginalinställningar och pappersstorlek */
    height: auto;
    margin: 0mm auto;
    box-shadow: none; /* Tar bort skuggan för en renare utskrift */
  }
  #grid {
    zoom: 0.8;
  }
  #placeringsTitel {
    visibility: visible !important;
  }

  .papperskorg,
  .låsKnappBox {
    display: none !important;
  }

  #namn {
    display: none;
  }

  .gridSize {
    display: none;
  }

  .namnFält{
    display: none;
  }
  .gridInstallning{
    display: none;
  }
  
  .infoDiven{
    display: none;
  }

}

.namnILista {
  width: 200px;

  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.namnILista button:hover {
  animation-name: none;
  animation-duration: none;
  animation-fill-mode: none;
}
.namnILista.upplåst {
  span {
    display: contents;
    font-weight: bolder;
    color: black;
  }
  button {
    padding: 0%;
    width: auto;
    padding: 0%;
    background: none;
    svg {
      color: black;
      height: 30px;
      width: auto;
    }
  }
  .grå {
    background-color: grey;
    height: 10px;
    display: block;
  }
}
.namnILista.låst {
  span {
    display: contents;
    font-weight: bolder;
    color: gray;
  }
  button {
    padding: 0%;
    width: auto;
    background: none;
    svg {
      color: gray;
      height: 30px;
      width: auto;
    }
  }
  .grå {
    background-color: rgb(214, 214, 214);
    height: 10px;
    display: block;
  }
}
#namn {
  width: 100%;
  height: auto;
}

#namn ul{
  list-style-type: none;

}

.låsKnappBox {
  padding: 0%;
  width: 50%;
  bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: relative;
  border-radius: 0;
  background-color: gray;
}
.låsKnappBox:hover {
  animation-name: none;
  animation-duration: none;
  animation-fill-mode: none;
}

.box.filled.låst {
  background-color: black;
}
#placeringsTitel {
  visibility: hidden;
  display: contents;
}

.box.filled.låst {
  background-color: black;
}

.boxNamn {
  height: 50%;
  top: 50%;
}

#bräddMått {
  width: 100%;
  height: 1px;
}

.boxNamn.låstBoxNamn.tom {
  background: repeating-linear-gradient(
    45deg,
    rgba(179, 179, 179, 0.3),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px
  );
}
.högerKlick:hover {
  background-color: rgb(226, 226, 226);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


#ökaStorlek {
  background-image: url(pluss.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  
}

#minskaStorlek {
  background-image: url(minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;

}

#minskaDiv {
  float: left;
  margin-left: calc(50% - 30%);
  overflow: hidden;

}
#höjaDiv {
  float: right;
  margin-right: calc(50% - 30%);
  overflow: hidden;


}
.storlekDiv {
  position: relative;
  width: 150px;
  display: block;
  position: relative;

}
.storkleksÄndring {
  width: 300px;
  position: relative;
  left: calc(50% - 150px);
}
a .minskaStorlekDiv {
  position: relative;
  width: 50%;
  display: block;
}

.sparaKnappar {
  margin-top: 30px;
  display: flex;
  width: 360px;
}

.sparaKnappar button {
  height: 45px;
}

#raderaKlass {
  background-image: url(taBort.png);
  background-repeat: no-repeat;
  background-position: center;
}

#sparaSomNy {
  background-image: url(sparaSom.png);
  background-repeat: no-repeat;
  background-position: center;
}
.papperskorg {
  background-color: red;
  width: 50%;
  border-radius: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 10px;
  position: relative;
}
.papperskorg:hover {
  animation-name: redAn;
  animation-duration: none;
  animation-fill-mode: forwards;
}
.box {
  height: 100%;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#sparaNamnKnapp {
  padding: 1px;
  width: auto;
  margin: 0px;
  position: relative;
  float: left;
  background-color: grey;
  border-radius: 0;
  border-style: outset;
  :hover {
    background-color: gray;
  }
}
#kebabWrap {
  display: flex;
  position: relative;
  left: 70%;
  width: 100px;
}
#sparadeNamnKlasser {
  size: 15px;
  height: 100%;
  position: relative;
  display: grid;
  padding: 0px;
}
#sparaNamnSomNy {
  padding: 1px;
  width: auto;
  margin: 0px;
  position: relative;
  background-color: grey;
  border-radius: 0;
  border-style: outset;
  :hover {
    background-color: gray;
  }
  right: 100%;
}
#raderaNamnKlass {
  padding: 10px;
  width: auto;
  margin: 0px;
  position: relative;
  float: left;
  background-color: grey;
  border-radius: 0;
  border-style: outset;
  :hover {
    background-color: gray;
  }
}

.schackPjäs svg {
  height: 100%;
  width: auto;
}
.dragging {
  background-color: transparent !important;
}
.pil {
  height: 30px;
  width: auto;
  position: relative;
  top: 10px;
}


#backupButton {
  text-align: center;
}



#div2 {
  display: grid;
}

#sparaGridContainer {
  display: contents;
}

#backupDiv {
  display: inline;
  width: 252.5px;
  position: relative;
  float: left;
  left: 50%;
}
#sparaNamnSettings{
  margin-bottom: 10px;
}
#ovanförGrid{
  display: inline;
  width: 100%;
}


.infoDiven {
  min-height: 75px;
}


#pdfDiv{
  width: 170px;
  margin: auto;
}

#rader{
  width: 60px;
  height: 54px;
  font-size: 20px;
  margin-right: 40px;
}


#kolumner{
  width: 60px;
  height: 54px;
  font-size: 20px;
}

