
.App {
  text-align: center;
}
.spara {
  background: url(./floppydisk.svg);
  height: 200px;
  width: 200px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 100%; 
  height: 100%;
}
.box.filled {
  background-color: gray;
  height: 50%; 
}
.box.filled span {
  position: relative;
  left: 0%;
  bottom: -100%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: black
}
.gridInstallning{
  padding: 10px;
}
label{
  padding: 5px;
}

.gridInstallning {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#namesInput {
  margin-top: 10px;
}

#namnSingel{
  margin-bottom: 30px;
  padding: 5px;
}

#kebaben{
  width: 400px;
  margin: auto;
  padding-bottom: 40px;

}

#namesInput{
  margin-bottom: 30px;
}

.name {
  font-size: 100%;
  font-weight: bold;
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.small-text {
  font-size: 75%;
}

ul {
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
}

.namelist {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.namelist button{
  margin-left: 20px;
}

#nameHeader{
  font-weight: bold;
}

#mailTag{
  color: black;
}

#perspektiv{
  border-bottom: solid;
  font-size: 20px;
}

#perspektiv2{
  border-top: solid;
  font-size: 20px;
}
