body{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.grid {
  display: grid;
  margin: auto;
  width: fit-content;
  gap: 5px; /* Space between cells */
  z-index: -7;
}

.grid-cell {
  width: 100px;
  height: 100px;
  z-index: 0;
  border: 1px solid #ccc;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative; /* For positioning items inside */
}
.grid-cell .content {
  width: 90%; /* Set content width to 90% of the cell */
  height: 90%; /* Set content height to 90% of the cell */
  display: flex; /* Use flexbox to align children */
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
  background-color: lightblue; /* Background color when filled */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px); /* Adjust according to your desired cell size */
  grid-template-rows: repeat(auto-fill, 100px); /* Same as above */
  gap: 0; /* Ensure no gap between cells */
}

.grid-cell {
  border: 1px solid black; /* This is optional if you want borders around cells */
  padding: 0; /* No padding */
  margin: 0; /* No margin */
  box-sizing: border-box; /* Include border and padding in the element's total width and height */
}

.active {

}

.draggable-item {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  z-index: 1;
  cursor: move; /* Change cursor when dragging */
}
.removeButton{
  background-color: red;
  width: 50%;
  height: 100%;
  border-radius: 0;
  padding: 0px;
  margin: 0px !important;
  left: 0px;
  
  position: relative;
}
.buttons{
  z-index: 3;
  height: 50%;
  width: 100%;
}