/* Grid.css */

.grid {
  display: grid;
  gap: 10px;
}

.grid-cell {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.grid-cell.active {
  
}

.draggable-item {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  line-height: 50px;
}
