/* Grid.css */
.grid-container {
    display: grid;
    margin: 20px;
  }
  

  .grid-item {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .grid-item.dragging {
    transform: scale(1.05); /* Slightly enlarge the item when dragging */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow to the dragging item */
  }